<div class="mdd-article feed-page">
  @if (vm$ | async; as vm) {
  <div class="feed-toolbar">
    <!-- bouton création : visible mais pas cliquable -->
    <button class="mdd-btn" mat-flat-button color="primary" type="button" disabled>
      Créer un article
    </button>

    <!-- Tri -->
    <button class="mdd-btn sort-btn" mat-button type="button" [matMenuTriggerFor]="sortMenu">
      <span class="sort-text">Trier par</span>

      <mat-icon class="sort-icon" [class.is-asc]="vm.order === 'asc'" aria-hidden="true">
        arrow_downward
      </mat-icon>
    </button>

    <mat-menu #sortMenu="matMenu">
      <button mat-menu-item type="button" (click)="onOrderChange('desc')">
        <mat-icon
          aria-hidden="true"
          [style.visibility]="vm.order === 'desc' ? 'visible' : 'hidden'"
        >
          check
        </mat-icon>
        Plus récents
      </button>

      <button mat-menu-item type="button" (click)="onOrderChange('asc')">
        <mat-icon aria-hidden="true" [style.visibility]="vm.order === 'asc' ? 'visible' : 'hidden'">
          check
        </mat-icon>
        Plus anciens
      </button>
    </mat-menu>
  </div>

  @if (vm.loading) {
  <div class="center">
    <mat-progress-spinner mode="indeterminate" diameter="40"></mat-progress-spinner>
  </div>
  } @else { @if (vm.error) {
  <p class="error">{{ vm.error }}</p>
  } @else {
  <div class="feed-grid">
    @for (post of vm.feed; track post.id) {
    <mat-card class="feed-card">
      <h2 class="feed-title">{{ post.title }}</h2>

      <div class="feed-meta">
        <div>
          <div class="meta-label">Date</div>
          <div class="meta-value">{{ post.createdAt | date : 'shortDate' }}</div>
        </div>

        <div>
          <div class="meta-label">Auteur</div>
          <div class="meta-value">{{ post.author.username }}</div>
        </div>
      </div>

      <div class="feed-footer">
        {{ formatComments(post.commentsCount) }}
      </div>
    </mat-card>
    }
  </div>
  } } }
</div>
